body {
  font-family:  Arial, Helvetica, sans-serif;
  background-color: #F3F2EF;
}

/* default btn styling */
.default-btn-style{
  background-color: transparent;
  border: 1px solid darkgray;
  border-radius: 20px;
  padding: 4px 18px;
  width: fit-content;
  /* min-width: 68px; */
  /* max-width: fit-content; */
}

.default-btn-style:hover{
  background-color: rgba(212, 212, 212, 0.3);
  border: 1px solid rgb(78, 78, 78);
  cursor: pointer;
}

/* default styling for components */
.brdr-linkedin {
  border: 2px solid #E9E8E5;
  background-color: white;
  height: 300px;
  border-radius: 18px;
  padding: 24px 16px;
}



/* NAVBAR NAVBAR NAVBAR   NAVBAR NAVBAR NAVBAR    NAVBAR NAVBAR NAVBAR    NAVBAR NAVBAR NAVBAR    NAVBAR NAVBAR NAVBAR    NAVBAR NAVBAR NAVBAR */
/* vertical lign */
.vl {
  border-left: 3px solid darkslategray;
  height: 50px;
  margin-left: 20px;
}

.search {
  max-width: 200px !important;
}


/*  PEOPLE YPU MAY KNOW  PEOPLE YPU MAY KNOW   PEOPLE YPU MAY KNOW  PEOPLE YPU MAY KNOW   PEOPLE YPU MAY KNOW   PEOPLE YPU MAY KNOW   PEOPLE YPU MAY KNOW */

.brdr-linkedin h5 {
  font-size: 18px
}

.brdr-linkedin-people-you-may-know {
  min-width: 68px;
  max-width: fit-content;
}

.who-and-where {
  display: flex;
}

.name-company {
  margin-left: 10px;
}

.name-company a h6{
  margin-bottom: 0px;
}

.name-company p {
  font-size: 12px;
}


/* ABOUT ABOUT ABOUT */
.overflow-height {
  height: 100px;
  text-overflow: ellipsis " [..]";
  overflow: scroll;
}
